@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');
//@import url('https://fonts.googleapis.com/css?family=Montserrat');

html{
    font-family: 'Roboto', sans-serif;
}

.form-title{
    font-size: 18px;
}

.company-name{
    color: $light-pink;
}

.nav-logo{
    font-size: 24px;
}

.justify{
    text-align: justify;
}