//
// Some Useful color Vars via http://clrs.cc/
//

// Cool
$aqua:  #7FDBFF;
$blue:  rgb(26, 115, 232);
$navy:  #001F3F;
$olive: #3D9970;
$lime:  #01FF70;


// Warm
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$maroon:  #85144B;


// Gray Scale
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;

// Theme Colors
$dark-blue: #25455E;
$light-pink: #F2657F;
$dark-pink: #C16B86;
$purple: #6C5B7D;
$skin: #F8B195;

$staff-width: 150px;
$boss-color: rgb(60, 142, 250);
$projects-leader-color: rgb(255, 85, 85);
$workshops-leader-color: rgb(60, 250, 101);
$projects-assistant-color: rgb(255, 136, 136);
$workshops-assistant-color: rgb(142, 255, 166);
$graphic-designer-color: rgb(255,0,222);
//
// Project Variables
//
